<h1>Edit Employee</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.employee_path(@conn, :update, @employee)) %>

<span><%= link "Back", to: Routes.employee_path(@conn, :index) %></span>
