<h1>Show Employee</h1>

<ul>

  <li>
    <strong>Email:</strong>
    <%= @employee.email %>
  </li>

  <li>
    <strong>Name:</strong>
    <%= @employee.name %>
  </li>

  <li>
    <strong>Surname:</strong>
    <%= @employee.surname %>
  </li>

</ul>

<span><%= link "Back", to: Routes.employee_path(@conn, :index) %></span>
